<html>
	<body>
		<h1> Welcome to the Anime Chicken Lover's Group, #{@user.first}!</h1>
		<p> Together we will spread the love of animated chickens throught the globe and peace and happiness will reign.</p>
		<p> Your user handle is your login, #{@user.user}.</p>
		<p> To login to the site, just follow this link: #{@url}.
		 Thank you for joining our chicken-righteous cause! </p>

	</body>
</html>
